body {
	margin: 0px;
	padding: 0px;
	font-family: "sans-serif", Arial;
	font-size: 20px;
}

.app-container {
	margin: 0px auto;
	padding: 0px;
	max-width: 400px;
}

.app-wrapper {
	padding: 20px;
	box-shadow: 0px 0px 1px 1px #333;
}

.app-wrapper::before {
	content: "App";
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.app-wrapper .controls {
	display: flex;
	flex-wrap: wrap;
}

.app-wrapper .controls .button {
	display: block;
	padding: 10px;
	width: 50%;
	border: 1px solid #efefef;
	box-sizing: border-box;
	cursor: pointer;
}

.app-wrapper .controls .button.on-off {
	background: #fff;
}

.app-wrapper .controls .button.on-off:hover {
	background: #efefef;
}

.app-wrapper .controls .button.on-off[data-state="on"] {
	color: #fff;
	background: #008;
}
